<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVTeNCz41DE-T2LlNSs_UGU4kHJmF5tmU</string>
	<key>GCM_SENDER_ID</key>
	<string>677086277667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ngmp1.ios</string>
	<key>PROJECT_ID</key>
	<string>ngmp1-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>ngmp1-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677086277667:ios:2d77eaf1084cbe4844c196</string>
</dict>
</plist>